body {
  overflow-x: hidden;
}

.container-one {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  height: 100vh;
  background-image: url("../../assets/sophie-turner-LZVmvKlchM0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}
.container-one nav {
  display: flex;
  flex-direction: row;
  gap: 500px;
  border-bottom: 1px solid grey;
  align-items: center;
  justify-content: space-between;
}
.container-one nav .img-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.container-one nav .img-box img {
  width: 86px;
  height: 86px;
}
.container-one nav .img-box h1 {
  width: 164px;
  height: 49px;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: white;
}
.container-one .menu-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.container-one .menu-box ul {
  display: flex;
}
.container-one .menu-box ul li {
  list-style: none;
}
.container-one .menu-box ul li a {
  font-family: "Century Gothic";
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.title-box h1 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 145px;
  color: #FFFFFF;
}
.title-box h4 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
}

.booking-btns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.booking-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 181px;
  height: 66px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 5px 5px 0px 0px;
  font-family: "Century Gothic";
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.time-table {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 20px;
  font-family: "Century Gothic";
}
.time-table .time-table-out {
  display: flex;
  flex-direction: column;
  color: white;
}
.time-table .time-table-out .time-table-check-in {
  width: 221px;
  height: 69px;
  background: #FFFFFF;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.time-table .time-table-out .time-table-check-in-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23px;
}
.time-table .time-table-out .time-table-check-in-button button {
  border: none;
  width: 221px;
  height: 69px;
  background: #ECA00D;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  color: #000000;
}

.time-table-out-grey {
  display: flex;
  flex-direction: column;
  font-family: "Century Gothic";
}
.time-table-out-grey > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.time-table-out-grey .time-table-check-in-grey {
  width: 143px;
  height: 69px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-table-out-grey .time-table-check-in-grey img {
  padding: 27px 20px;
  background: #C4C4C4;
}

.container-one-footer {
  background: #E5E5E5;
  width: 100%;
  overflow-x: hidden;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  opacity: 0.7;
  margin-top: 150px;
  position: absolute;
  bottom: 0;
}
.container-one-footer .container-one-footer-in {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.container-one-footer h3 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.container-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-two h1 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-top: 80px;
  color: #000000;
  padding: 10px;
  border-bottom: 3px solid #ECA00D;
}
.container-two hr {
  width: 800px;
  border: 1px solid #E0E6E8;
}
.container-two .container-box {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.container-two .container-box .main-box {
  display: flex;
  flex-direction: column;
  width: 519px;
  height: 579px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #D3C9C9;
}
.container-two .container-box .main-box .img-box {
  width: 100%;
  height: 100%;
}
.container-two .container-box .main-box .img-box span img {
  position: absolute;
  padding: 10px;
  background-color: #FFAC0B;
}
.container-two .container-box .main-box .img-box .image {
  width: 100%;
}
.container-two .container-box .main-box .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  background: #FFFFFF;
  height: 579px;
}
.container-two .container-box .main-box .text-box h3 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.container-two .container-box .main-box .text-box p {
  font-family: "Century Gothic";
  text-align: justify;
  font-style: normal;
  width: 430px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.container-three {
  margin-top: 50px;
  height: 100vh;
  background-image: url("../../assets/photo-1464822759023-fed622ff2c3b.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container-three .img-box {
  width: 792px;
  height: 528px;
  margin-top: 100px;
}
.container-three .text-box {
  margin-top: 100px;
  width: 792px;
  height: 527px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}
.container-three .text-box h1 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFE600;
}
.container-three .text-box p {
  margin-top: 20px;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.container-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-four h1 {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-top: 80px;
  color: #000000;
  padding: 10px;
  border-bottom: 3px solid #ECA00D;
}
.container-four hr {
  width: 800px;
  border: 1px solid #E0E6E8;
}
.container-four .container-box {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.container-four .container-box .main-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px 5px;
  width: 520px;
  height: 55vh;
  box-shadow: 0px 0px 10px gray;
}
.container-four .container-box .main-box .img-box span {
  position: absolute;
}
.container-four .container-box .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container-four .container-box .text-box h3 {
  margin-top: 30px;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.container-four .container-box .text-box p {
  text-align: justify;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */