body{
    overflow-x: hidden;
}

.container-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    height: 100vh;
    background-image: url('../../assets/sophie-turner-LZVmvKlchM0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;

    nav{
        display: flex;
        flex-direction: row;
        gap: 500px;
        border-bottom: 1px solid grey;
        align-items: center;
        justify-content: space-between;

        .img-box{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 25px;

            img{
                width: 86px;
                height: 86px;
            }

            h1{
                width: 164px;
                height: 49px;
                font-family: 'Century Gothic';
                font-style: normal;
                font-weight: 700;
                font-size: 46px;
                line-height: 56px;

                color: white;
            }
        }
    }

    .menu-box{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
        li{
            list-style: none;
            a{
                font-family: 'Century Gothic';
                text-decoration: none;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                
                color: white
            }
        }
    }
}
}

.title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    h1{
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 145px;
        
        color: #FFFFFF;
    }

    h4{
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: #FFFFFF;
    }
}

.booking-btns{
    display: flex;
    flex-direction: row;
    gap: 30px;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 181px;
        height: 66px;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(2.5px);
        border-radius: 5px 5px 0px 0px;
        font-family: 'Century Gothic';
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
}

.time-table{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 20px;
    font-family: 'Century Gothic';


    .time-table-out{
        display: flex;
        flex-direction: column;
        color: white;
        
        .time-table-check-in{
            width: 221px;
            height: 69px;
            background: #FFFFFF;
            color: black;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .time-table-check-in-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 23px;          
            button{
                border: none;
                width: 221px;
                height: 69px;   
                background: #ECA00D;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                border-radius: 2px;
                color: #000000;
            }

        }
    }
}

.time-table-out-grey{
    display: flex;
    flex-direction: column;
    font-family: 'Century Gothic';
        & > h3{ 
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
    }

    .time-table-check-in-grey{
        width: 143px;
        height: 69px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            padding: 27px 20px;
            background: #C4C4C4;
        }
    }
}

.container-one-footer{
    background: #E5E5E5;
    width: 100%;
    overflow-x: hidden;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    opacity: 0.7;
    margin-top: 150px;
    // border: 1px solid red;
    position: absolute;
    bottom: 0;
        .container-one-footer-in{
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            margin: auto;
            cursor: pointer;
        }

        h3{
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            
            color: #000000;
        }
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        margin-top: 80px;
        color: #000000;
        padding: 10px;
        border-bottom: 3px solid #ECA00D;
    }
    hr{
        width: 800px;
        border: 1px solid #E0E6E8;
    }

    .container-box{
        border: 1px solid;
        width: 100%;
        padding: 50px 30px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .main-box{
            display: flex;
            flex-direction: column;
            width: 519px;
            height: 579px;
            align-items: center;
            justify-content: center;
            
            background: #FFFFFF;
            border: 1px solid #D3C9C9;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .img-box{
                width: 100%;
                height: 100%;
                span{
                    img{
                        position: absolute;
                        // width: 60px;
                        // height: 60px;
                        padding: 10px;
                        background-color: #FFAC0B;
                    }
                }
                .image{
                    width: 100%;
                }
            }

            .text-box{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                box-sizing: border-box;
                background: #FFFFFF;
                border: 1px solid #D3C9C9;
                height: 579px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                h3{
                    font-family: 'Century Gothic';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    
                    color: #000000;
                }
                p{
                    font-family: 'Century Gothic';
                    text-align: justify;
                    font-style: normal;
                    width: 430px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;  
                    color: #000000;
                }
            }
        }

    }
}

.container-three{
    margin-top: 50px;
    height: 100vh;
    background-image: url('../../assets/photo-1464822759023-fed622ff2c3b.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .img-box{
        width: 792px;
        height: 528px;
        margin-top: 100px;
    }

    .text-box{
        margin-top: 100px;
        width: 792px;
        height: 527px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(15px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px;
        h1{
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            
            color: #FFE600;
        }

           
        p{
            margin-top: 20px;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            
            color: #FFFFFF;
        }
    }
}

.container-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 50px;

    h1{
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        margin-top: 80px;
        color: #000000;
        padding: 10px;
        border-bottom: 3px solid #ECA00D;
    }
    hr{

        width: 800px;
        border: 1px solid #E0E6E8;
    }

    .container-box{
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #D3C9C9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .main-box{
            display: flex;
            flex-direction: column;
            width: 520px;
        }

        .text-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 10px;
            
            h3{
                margin-top: 30px;
                font-family: 'Century Gothic';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                
                color: #000000;
            }

            p{
                border: 1px solid;
                text-align: justify;
                font-family: 'Century Gothic';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #000000;
            }
        }
    }
}